<br /><br />
<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <%= link_to 'Home', home_path, :class => "grey-text text-lighten-3" %>&nbsp;&nbsp;::&nbsp;&nbsp;
      <%= link_to 'About', about_path, :class => "grey-text text-lighten-3" %>&nbsp;&nbsp;::&nbsp;&nbsp;
      <%= link_to 'Contact', contact_path, :class => "grey-text text-lighten-3" %>&nbsp;&nbsp;::&nbsp;&nbsp;
      <%= link_to 'Privacy', privacy_path, :class => "grey-text text-lighten-3" %>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Webmaster: <%= mail_to("slu2@andrew.cmu.edu", "Shannon Lu", encode: "javascript") %>
    &nbsp;&nbsp;&copy 2018
    <br /><br />
    </div>
  </div>
</footer>
