<h3> Successfully added registration to cart! </h3>
<br><br>
<%= link_to 'View Cart', cart_path, :class=>"btn waves-effect waves-light" %>
<br><br>
<%= link_to 'Browse More Camps', camps_path, :class=>"btn waves-effect waves-light" %>


<!-- <%= session[:cart] %>
<%= session[:cart].class %>
<%= session[:cart].each do |cart_item| %>
  <%= cart_item.class %>
<% end %> -->
