<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A&M Chess Camp :: <%= controller.controller_name.capitalize %></title>
    <%= stylesheet_link_tag    "application" %>
    <!-- <%= javascript_include_tag "application" %> -->
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <main>
    <%= render :partial => "partials/nav" %>
    <% if logged_in? && current_user.role?(:admin) %>
    <div class="row">
      <div class="col s9">
      </div>
      <div class="col s3">
        <div style="margin-right: 60px">
        <%= form_with url: search_path, method: :get, class: "form-inline center", id: "search" do %>
                <%= text_field_tag 'query', '', placeholder: "Search ..." %>
            <% end %>
        </div>
      </div>
    </div>
    <% end %>

    <div class="row">
      <div class="container" id="main_content">
        <%= render :partial => "partials/flash" %>
        <br></br>
        <%= yield %>
      </div>
    </div>
  </main>
    <footer>
      <div class="center-align" id="footer">
        <%= render partial: 'partials/footer' %>
      </div>
    </footer>
    <%= javascript_include_tag "application" %>
  </body>
</html>
